#contenedor{display:flex;
    flex-direction: row;
    flex-wrap: nowrap;/*esto es por defecto*/
    /*flex-grow: ;*/
    justify-content: center;
    width: 95%;
    height:500px;
    background-color:lightskyblue;
    justify-content: space-around;
    justify-content: center;}
#verde{ width: 20%;
height: 100px;
background-color: lightgreen;
border: 2px solid black;}
#amarillo{ width: 20%;
    height: 100px;
    background-color: lightgoldenrodyellow;
    border: 2px solid black;}